<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.mph.org/plc/st/STLanguage" 
       class = "org.mph.plc.st.sTLanguage.STLanguagePackage"
       genModel = "model/generated/STLanguage.genmodel" /> 
	
  </extension>



</plugin>
