/.dummy.java._trace
/dummy.java
/.inverteddummy.java._trace
/.main.java._trace
/.TestAnnotation.java._trace
/.Helper.java._trace
/Helper.java
/TestAnnotation.java
/inverteddummy.java
/main.java
/.fieldClass.java._trace
/.FieldClass.java._trace
/.IDummy.java._trace
/.DummyEnum.java._trace
/DummyEnum.java
/FieldClass.java
/IDummy.java
